@import "_rouge-dark.scss";
@import "_rouge-light.scss";

$dark-code-bg: rgba(0,0,0,0.833);
$light-code-bg: rgba(0,0,0,0.166);

@media screen {
    body.light-mode {
        @include light-mode();
        --code-bg: #{$light-code-bg};
        
        @include rouge-light();

    }

    body.dark-mode {
        @include dark-mode();
        --code-bg: #{$dark-code-bg};

        @include rouge-dark();
    }

    blockquote {
        border-left: 0.25rem solid var(--accent-color) !important;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        @include dark-mode();
        --code-bg: #{$dark-code-bg};

        @include rouge-dark();
    }

    blockquote {
        border-left: 0.25rem solid var(--accent-color) !important;
    }
  }

hy-push-state a {
    text-underline-offset: .2rem;
}